@model LapTopStore.Models.ViewModels.LaptopsListViewModel

@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");}

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Trang Chủ</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="~/images/fevicon/fevicon.png" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- Site css -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- colors css -->
    <link rel="stylesheet" href="~/css/colors1.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <!-- wow Animation css -->
    <link rel="stylesheet" href="~/css/animate.css" />
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>
                 <vc:genre-navigation />
                    <div class="row pt-4">

                        @foreach (var laptop in Model.Laptops)
                        {
                            <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                                <div class="product_list">
                                    <a class="a-cleanup" asp-controller="Home" asp-action="Details2" asp-route-id="@laptop.LaptopID">
                                        <div class="product_img"> <img class="img-responsive" src="~/images/@laptop.ProfilePicture" alt=""> </div>
                                    </a>
                                    <div class="product_detail_btm">
                                        <div class="center">
                                            <h4><a href="it_shop_detail.html"> @laptop.TenSP</a></h4>
                                        </div>
                                        <div class="starratin">
                                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                                        </div>
                                        <div class="product_price">
                                            <p><span class="old_price">-15%</span> – <span class="new_price text-danger">@String.Format(format, "{0:c0}", laptop.GiaTien)</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
               
                    


